CSSAttr RCDATA "CSSAttr.txt"
CSSVal RCDATA "CSSVal.txt"
HTMLAttr RCDATA "HTMLAttr.txt"
HTMLMethods RCDATA "HTMLMethods.txt"
HTMLTag RCDATA "HTMLTag.txt"
JSMethod RCDATA "JSMethod.txt"
JSObj RCDATA "JSObj.txt"
JSProp RCDATA "JSProp.txt"
JSReserv RCDATA "JSReserv.txt"
PHPFunc RCDATA "PHPFunc.txt"
PHPReserv RCDATA "PHPReserv.txt"
PHPRarams RCDATA "P.txt"
